/* Design elements:
Pink: F37063
Black: 000000
White: ffffff
Grey border: 9c9c9c
Input border radius: 33 px
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Serif JP', serif;
*/

/*Camilla log 29.11.23: Satt foreløbig størrelse på input fields. 
Datofeltet må fikses, vurderer å sette inn en annen
kalender som lar deg velge dato og tid bedre.
Divene må settes i riktig størrelse, og må begynne
å jobbe i MQ. Må også sette inn fonter. 
*/

body {
  font-family: "Josefin Sans", sans-serif;
}
* {
  margin: 0;
}

.navContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: black;
}

.logoSection {
  display: flex;
}

.logoSection h1 {
  color: white;
}

.logo {
  width: 75px;
  height: 70px;
}

nav {
  height: 79px;
  line-height: 79px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  text-align: center;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  height: 100%;
  display: inline-block;
  font-size: 24px;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  top: -1px;
  background-color: white;
  position: absolute;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.headerImg img {
  width: 100%;
  height: 92vh;
  object-fit: cover;
}

.headerSection {
  position: relative;
  height: 92vh;
}

.headerText {
  width: 86%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerSection h5 {
  font-weight: 400;
  font-size: 51px;
  width: 403px;
  color: white;
}

.headerBtn {
  position: absolute;
  display: flex;
  justify-content: end;
  width: 80%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerBtn button {
  margin-left: 50px;
  padding: 25px 35px;
  border-radius: 500px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.headerBtn #menuBtn {
  background-color: #f37063;
  color: white;
}
.booking-container {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 1fr;
  gap: 1rem 1rem;
  grid-template-areas: "left spacer right";
  padding: 2rem;
  justify-items: center;
}
.container-left {
  grid-area: left;
}

.headline h1 {
  font-size: x-large;
  margin-bottom: 3rem;
}
label {
  font-size: large;
  margin: 1rem;
}
input {
  height: 1.8rem;
  width: 20rem;
  border: 2px solid #9c9c9c;
  border-radius: 33px;
  margin: 5px 0px 5px 0px;
}
.twin-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: start;
  gap: 4.8rem;
}

input#people,
#date {
  width: 7.3rem;
}
#other {
  height: 8rem;
}
.submit {
  height: max-content;
  width: max-content;
  border-radius: 33px;
  padding: 0.8rem;
  background-color: #f37063;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  border: none;
}
.spacer {
  grid-area: spacer;
  width: 0.188rem;
  height: 12.5rem;
  background-color: black;
  border-radius: 50px;
  align-self: center;
  margin: auto;
}
.container-right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  height: 20rem;
  width: inherit;
  object-fit: cover;
}
.text-container {
  margin-top: 2rem;
  width: 30rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 800px) {
  .headerBtn {
    width: 90%;
  }

  .headerBtn button {
    margin-left: 40px;
    padding: 20px 30px;
    font-size: 18px;
  }

  nav li {
    margin-left: 40px;
  }
  .booking-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5px 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "left"
      "spacer"
      "right";
    padding: 10px 0px 0px 0px;
    align-items: center;
  }
  .container-left {
    margin-bottom: 2rem;
  }
  .headline h1 {
    font-size: 1.5em;
    word-wrap: normal;
    margin-bottom: 2rem;
    padding: 0px 2px 0px 2px;
  }
  .form-container {
    display: flex;
    justify-content: center;
  }
  label {
    font-size: medium;
  }
  input {
    height: 1.5rem;
    width: 17rem;
  }
  .twin-form {
    gap: 2.8rem;
  }

  input#people,
  #date {
    width: 7rem;
  }
  #other {
    height: 4rem;
  }

  .spacer {
    height: 0.188rem;
    width: 12.5rem;
  }
  .container-right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  img {
    height: 13rem;
  }
  .text-container {
    margin-top: 2rem;
    width: 18rem;
    font-size: 1.3rem;
    text-align: center;
  }
}
