@font-face {
  font-family: "Asia Tiger";
  src: url("./AsiaTiger.woff2") format("woff2"),
    url("./AsiaTiger.woff") format("woff"),
    url("./AsiaTiger.ttf") format("truetype"),
    url("./AsiaTiger.svg#AsiaTiger") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: black;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.logoSection {
  display: flex;
  align-items: center;
}

.logoSection h1 {
  color: white;
  font-family: "Asia Tiger";
  margin: 0;
  height: 79px;
  line-height: 79px;
  cursor: pointer;
}

.logo {
  width: 75px;
  height: 70px;
}

nav {
  height: 79px;
  line-height: 79px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  text-align: center;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  top: -1px;
  background-color: white;
  position: absolute;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.headerImg img {
  width: 100%;
  height: 92vh;
  object-fit: cover;
}

.headerSection {
  position: relative;
  height: 92vh;
}

.headerText {
  width: 86%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerSection h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 51px;
  width: 403px;
  color: white;
}

.headerBtn {
  position: absolute;
  display: flex;
  justify-content: end;
  width: 80%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerBtn button {
  font-family: "Josefin Sans", sans-serif;
  padding: 25px 35px;
  border-radius: 500px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.headerBtn #menuBtn {
  background-color: #f37063;
  color: black;
  margin-left: 50px;
  transition: 0.3s;
}

#menuBtn:hover {
  background-color: #e75a4d;
}

.arrowDown {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -90%);
  border: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.breakContainer {
  position: relative;
  height: 400px;
}

.breakSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
}

.breakSection h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
}

.openingTimeSection {
  padding-left: 60px;
}

.openingTimeSection li {
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

.localeSection {
  padding-left: 60px;
}

.localeSection p {
  max-width: 500px;
  font-size: 22px;
  font-family: "Lato", sans-serif;
}

.lineBlack {
  position: absolute;
  width: 7px;
  height: 77px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel {
  width: 100%;
  aspect-ratio: 48 / 25;
  position: relative;
}

.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 300ms;
}

.slide > img {
  display: block;
  width: 100%;
  aspect-ratio: 48 / 25;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carouselBtn {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselBtn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.carouselBtn.prev {
  left: 4px;
}

.carouselBtn.next {
  right: 4px;
}

.manifesto {
  margin-top: 95px;
}

.manifestoContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: black;
  height: 650px;
  position: relative;
}

.manifestoSection {
  max-width: 480px;
}

.manifestoSection h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.manifestoSection div {
  width: 330px;
  height: 4px;
  background-color: white;
  position: relative;
  top: -40px;
}

.manifestoSection p {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.manifestoImgSection img {
  width: 500px;
  height: 376px;
  object-fit: cover;
}

.footer {
  margin-top: 95px;
}

.footerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 650px;
  background-color: black;
}

.footerContainer p {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 28px;
  margin: 7px;
}

.marginFooter {
  background-color: black;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: white;
  --background: black;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 500px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburgerContainer {
  position: relative;
}

.screenReaderText {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.sidebar-active {
  position: absolute;
  position: fixed;
  color: black;
  z-index: 2;
  font-family: "Josefin Sans", sans-serif;
  top: 80px;
  right: 0px;
  width: 250px;
  height: 350px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  transition: all ease-in-out 250ms;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar {
  position: absolute;
  position: fixed;
  color: black;
  z-index: 2;
  font-family: "Josefin Sans", sans-serif;
  top: 80px;
  right: 0px;
  width: 0px;
  height: 350px;
  font-size: 1.5em;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 250ms;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar a,
.sidebar-active a {
  color: black;
  text-decoration: none;
}

.sidebar li,
.sidebar-active li {
  cursor: pointer;
  padding: 20px 25px;
  transition: 0.3s;
  list-style: none;
}

.sidebar li:hover,
.sidebar-active li:hover {
  background-color: white;
  border-radius: 7px;
}

.openingTimeSection2 {
  display: none;
  padding-left: 60px;
}

.openingTimeSection2 h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
}

.openingTimeSection2 li {
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 1130px) {
  .headerBtn {
    width: 90%;
  }

  .headerText {
    width: 90%;
  }

  .localeSection p {
    max-width: 400px;
  }
}

@media (max-width: 1050px) {
  .headerSection h5 {
    font-size: 45px;
    width: 375px;
  }
  .manifestoSection {
    max-width: 420px;
  }

  .manifestoSection p {
    font-size: 24px;
  }
  iframe {
    width: 450px;
    height: 338px;
    resize: both;
    overflow: auto;
  }
}

@media (max-width: 965px) {
  .headerBtn {
    width: 90%;
  }

  .headerBtn button {
    padding: 20px 30px;
    font-size: 18px;
  }

  .headerBtn #menuBtn {
    margin-left: 40px;
  }

  nav li {
    margin-left: 40px;
  }

  .manifestoContainer {
    height: 550px;
  }

  .manifestoSection {
    max-width: 350px;
  }

  .manifestoSection h2 {
    font-size: 44px;
  }

  .manifestoSection p {
    font-size: 20px;
  }

  .manifestoImgSection img {
    width: 400px;
    height: 301px;
  }

  .openingTimeSection li {
    font-size: 22px;
  }

  .localeSection p {
    max-width: 350px;
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .headerSection h5 {
    font-size: 40px;
    width: 320px;
  }

  iframe {
    max-width: 500px;
    resize: both;
    overflow: auto;
  }

  .footerContainer {
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  .headerText {
    display: none;
  }
}

@media (max-width: 850px) {
  nav ul {
    display: none;
  }

  .localeSection p {
    max-width: 300px;
  }

  .openingTimeSection li {
    font-size: 20px;
  }
  .headerBtn button {
    font-size: 16px;
  }
}

@media (min-width: 850px) {
  .hamburgerContainer {
    display: none;
  }
}

@media (max-width: 800px) {
  .manifestoContainer {
    height: 450px;
  }

  .manifestoSection {
    max-width: 300px;
  }

  .manifestoSection h2 {
    margin-bottom: 20px;
  }

  .manifestoSection div {
    top: -22px;
  }

  .manifestoSection p {
    font-size: 18px;
  }

  .manifestoImgSection img {
    width: 300px;
    height: 226px;
  }

  .openingTimeSection {
    display: none;
  }

  .localeSection {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .localeSection p {
    max-width: 80%;
    font-size: 22px;
  }

  .lineBlack {
    display: none;
  }

  .breakContainer {
    height: 400px;
  }

  .breakSection {
    grid-template-columns: 1fr;
  }

  .openingTimeSection2 {
    display: block;
  }

  .headerText h5 {
    font-size: 38px;
    width: 300px;
  }

  .headerBtn #menuBtn {
    margin: 0;
  }

  .headerBtn #menuBtn {
    margin-top: 20px;
  }

  .headerBtn {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 80%;
    width: 100%;
  }

  .arrowDown {
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translate(-50%, -90%);
    border: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
}

@media (max-width: 720px) {
  .manifestoContainer {
    flex-direction: column;
    height: 850px;
  }
  .manifestoSection {
    max-width: 500px;
  }

  .manifestoSection h2 {
    font-size: 44px;
  }

  .manifestoSection p {
    font-size: 20px;
  }

  .manifestoImgSection img {
    width: 500px;
    height: 375px;
  }

  .carouselBtn img {
    width: 50px;
  }
}

@media (max-width: 580px) {
  .carousel {
    width: 100%;
    aspect-ratio: 48 / 30;
    position: relative;
  }

  .carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 300ms opacity ease-in-out;
    transition-delay: 300ms;
  }

  .slide > img {
    aspect-ratio: 48 / 30;
  }

  .marginFooter {
    background-color: black;
  }

  .footerContainer {
    margin: 0 5%;
  }

  .manifestoMargin {
    background-color: black;
  }

  .manifestoContainer {
    margin: 0 5%;
  }

  .manifestoImgSection img {
    width: 100%;
    aspect-ratio: 4 / 3;
  }

  .openingTimeSection2 {
    padding-left: 0;
  }

  .section2Container {
    display: flex;
    justify-content: center;
    margin: 0 5%;
  }
}

@media (max-width: 520px) {
  .localeSection h2 {
    display: none;
  }

  .localeSection p {
    font-size: 20px;
  }

  .breakSection {
    align-items: center;
  }

  .breakContainer {
    height: 400px;
    align-items: center;
  }

  iframe {
    max-width: 100%;
    resize: both;
    overflow: auto;
    text-align: center;
  }
}

@media (max-width: 426px) {
  .carouselBtn img {
    width: 40px;
  }
}

@media (max-width: 402px) {
  .openingTimeSection2 li {
    font-size: 20px;
  }
}

@media (max-width: 370px) {
  .manifestoContainer {
    flex-direction: column;
    height: 850px;
  }
  .manifestoSection {
    max-width: 500px;
  }

  .manifestoSection h2 {
    font-size: 40px;
  }

  .manifestoSection p {
    font-size: 19px;
  }

  .manifestoSection div {
    width: 280px;
  }
}
