body {
  font-family: "Josefin Sans", sans-serif;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
.navContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: black;
}

.logoSection {
  display: flex;
}

.logoSection h1 {
  color: white;
}

.logo {
  width: 75px;
  height: 70px;
}

nav {
  height: 79px;
  line-height: 79px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  text-align: center;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  font-family: "Josefin Sans";
  font-size: 24px;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  top: -1px;
  background-color: white;
  position: absolute;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: white;
  --background: black;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 500px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburgerContainer {
  position: relative;
}

.sidebar-active {
  position: absolute;
  position: fixed;
  color: black;
  z-index: 2;
  font-family: "Josefin Sans";
  top: 80px;
  right: 0px;
  width: 250px;
  height: 350px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  transition: all ease-in-out 250ms;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar {
  position: absolute;
  position: fixed;
  color: black;
  z-index: 2;
  font-family: "Josefin Sans";
  top: 80px;
  right: 0px;
  width: 0px;
  height: 350px;
  font-size: 1.5em;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 250ms;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar a,
.sidebar-active a {
  color: black;
  text-decoration: none;
}

.sidebar li,
.sidebar-active li {
  cursor: pointer;
  padding: 20px 25px;
  transition: 0.3s;
  list-style: none;
}

.sidebar li:hover,
.sidebar-active li:hover {
  background-color: white;
  border-radius: 7px;
}

.headerImg img {
  width: 100%;
  height: 92vh;
  object-fit: cover;
}

.headerSection {
  position: relative;
  height: 92vh;
}

.headerText {
  width: 86%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerSection h5 {
  font-weight: 400;
  font-size: 51px;
  width: 403px;
  color: white;
}

.headerBtn {
  position: absolute;
  display: flex;
  justify-content: end;
  width: 80%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerBtn button {
  margin-left: 50px;
  padding: 25px 35px;
  border-radius: 500px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.headerBtn #menuBtn {
  background-color: #f37063;
  color: white;
}

.menu h2 {
  text-align: center;
  margin-top: 20px;
}

.title {
  padding: 0px;
}
.btn-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
button {
  height: max-content;
  width: max-content;
  border-radius: 33px;
  padding: 10px;
  background-color: #f37063;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  text-align: center;
}
button:hover {
  background-color: #f53726;
}

.section-center {
  border: solid 1px black;
  border-radius: 10px;
  margin: 30px auto 30px auto;
  width: 80%;
}

.menu-item {
  border: solid 1px black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 10px;
}
.titles {
  font-size: 20px;
  margin: 3px auto 5px 3px;
}

.item-info {
  padding: 10px;
}
.item-text {
  margin-bottom: 10px;
}
.price {
  float: right;
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  .headerBtn {
    width: 90%;
  }

  .headerBtn button {
    margin-left: 40px;
    padding: 20px 30px;
    font-size: 18px;
  }

  nav li {
    margin-left: 40px;
  }
}

@media (max-width: 965px) {
  nav li {
    margin-left: 40px;
  }
}

@media (max-width: 850px) {
  nav ul {
    display: none;
  }
}

@media (min-width: 850px) {
  .hamburgerContainer {
    display: none;
  }
}
